body{
    background:linear-gradient(to right,rgb(0, 0, 0), rgb(44, 44, 70))
}
.song-title{
    color: #81D8D0;
}
.song-collection{
    color: red;
}
.song-artist{
    color: blue;
}
.song-price{
    color: yellow;
}